name: country_picker_pro
description: "The country_picker_pro Flutter package provides a customizable Country Selector widget, enabling users to select countries with detailed information and customization options."
version: 0.0.2
homepage: https://github.com/shirsh94/country_picker_pro

environment:
  sdk: '>=2.12.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  collection: ^1.18.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
flutter:
